.bread-bottom {
  height: 50px;
  width: 80%;
  background: linear-gradient(#f08e4a, #e27b36);
  border-radius: 0 0 30px 30px;
  box-shadow: inset -15px 0 #c15711;
  margin: 2% auto;
}

.ingredient-row {
  /* display: flex; */
  align-items: center;
  margin-right: 10px; /* Adjust margi n as needed */
}

.ingredients {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 42%;
  background-color: #f08e4a;
}

.para {
  font-weight: bold;
}

.cen-row {
  justify-content: center;
}

.decreasebtn {
  margin-left: 2%;
  margin-right: 0.5%;
}

.bread-top {
  height: 80px;
  width: 80%;
  background: linear-gradient(#bc581e, #e27b36);
  border-radius: 50% 50% 0 0;
  box-shadow: inset -15px 0 #c15711;
  margin: 2% auto;
  position: relative;
}

.meat {
  width: 80%;
  height: 25px;
  background: linear-gradient(#7f3608, #702e05);
  margin: 2% auto;
  border-radius: 15px;
}

.cheese {
  width: 90%;
  height: 25px;
  margin: 2% auto;
  background: linear-gradient(#f4d004, #d6bb22);
  border-radius: 20px;
}

.lettuce {
  width: 85%;
  height: 25px;
  margin: 2% auto;
  background: linear-gradient(#228c1d, #91ce50);
  border-radius: 20px;
}
